.coffeman{
  padding-top: 120px;
}

.coffeman__title{
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #333d4b;
  margin-top: 48px;
}

.coffeman__block{
  text-align: center;
}

.coffeman__text{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #333d4b;
  opacity: 0.8;
  margin-top: 30px;
}
.coffeman__img_tablet{
  display: none;
}

.coffeman__img_laptop{
  display: none;
}

@media screen and (min-width:768px){
  .coffeman__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .coffeman__img{
    display: none;
  }
  .hero__text{
    text-align: start;
    font-size: 15px;
line-height: 167%;
  }
  .hero__title{
    font-size: 48px;
line-height: 100%;}

  .coffeman__img_laptop{
    display: none;
  }
  .coffeman__img_tablet{
    display: block;
  }
.coffeman__content{
  width: 339px;
}
}

@media screen and (min-width:998px) {
  .coffeman__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .coffeman__img_laptop{
    display: block;
     width: 445px;
  }
    .coffeman__img{
    display: none;
    }

    .coffeman__img_tablet{
      display: none;
    }

    .coffeman__content{
    width: 480px;

    }
  .coffeman__container{
    gap: 125px;
  }
  
}